<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8" />
   <title>Orders</title>
  </head>
  <body>
  	<h1>Order Meals</h1>
  	<table>
  	 <tr>
  	  <td><strong>Order1:</strong></td>
  	  <td><%= @order.order1 %></td>
  	 </tr>
  	 <tr>
  	   <td><strong>Order2:</strong></td>
  	   <td><%= @order.order2 %></td>
  	 </tr>
  	 <tr>
  	   <td><strong>Order3:</strong></td>
  	   <td><%= @order.order3 %></td>
  	   </tr>
  	</table>
  	<a href="/">Back  to Index</a>


   </body>
</html>
